{% extends "base.html" %}
{% block title %}Export your data{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>Applying for access to a registry</h2>
      <p>
          To apply to access information from a registry, you must satisfy the reliant chief registrars that your service will meet the <a href="#">government data access principals</a>.
      </p>
      <p>
        <strong>The rules are different for government and 3rd parties</strong>
      </p>
    </div>
  </div>
{% endblock %}