{% extends "base.html" %}
{% block title %}Confirm access{% endblock %}
{% block content %}
  <div class="row verify">
    <div class="small-12 columns">
      <img class="verify_logo_small" src="{{url_for('static', filename='images/verify_white.png')}}" height="80px" />
      <h1>Request for permission</h1>

      <p>
        {% if client.organisation_type == 'central government' %}
          The {{ client.name }} service will:
        {% elif client.organisation_type == 'local government' %}
          {{ client.name }} is requesting access to:
        {% else  %}
          {{ client.name }} is requesting access to:
        {% endif %}
      </p>

      <ul class="permissions">
        {% for key,value in avaliable_scopes.items() %}
            {% for scope in scopes %}
              {% if scope == key %}
                  <li><strong>{{value|lower}}</strong></li>
              {% endif %}
            {% endfor %}
        {% endfor %}
      </ul>
      <form action="/oauth/authorize" method="post">
        <input type="hidden" name="client_id" value="{{ client.client_id }}">
        <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
        <input type="hidden" name="response_type" value="{{ response_type }}">
        {% if state %}
          <input type="hidden" name="state" value="{{ state }}">
        {% endif %}
        {% if client.organisation_type == 'central government' %}
          <ul class="button-group even-2">
            <li><button type="submit" class="button" name="confirm" value="yes">Proceed</button></li>
            <li><button type="submit" class="button" name="confirm" value="no">Cancel</button></li>
          </ul>
          <p>
            This service is able to request access to this information because it has satisfied the relevant Chief Registrar that it has met the <a href="#">government data access principals</a>.
          </p>
        {% elif client.organisation_type == 'local government' %}
          <ul class="button-group even-2">
            <li><button type="submit" class="button" name="confirm" value="yes">Proceed</button></li>
            <li><button type="submit" class="button" name="confirm" value="no">Cancel</button></li>
          </ul>
          <p>
            This local government service is able to request access to this information because it has satisfied the relevant Chief Registrar that it has met the <a href="#">government data access principals</a>.
          </p>
        {% else  %}
          <p>
            <strong>Do you grant permission to {{client.name}}?</strong>
          </p>
          <ul class="button-group even-2">
            <li><button type="submit" class="button" name="confirm" value="yes">Yes</button></li>
            <li><button type="submit" class="button" name="confirm" value="no">No</button></li>
          </ul>
          <p>
            This local government service is able to request access to this information because it has satisfied the relevant Chief Registrar that it has met the <a href="#">government data access principals</a>.
          </p>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
