<html>
  <head>
    <title>{% block title %}{% endblock%} | IDEALGOV</title>
    <link rel="stylesheet" href="{{config.WWW_BASE_URL + '/static/vendor/roboto-slab-fontface/roboto-slab-fontface.css' }}">
    <link rel="stylesheet" href="{{config.WWW_BASE_URL + '/static/vendor/foundation/css/foundation.css' }}">
    <link rel="stylesheet" href="{{config.WWW_BASE_URL + '/static/css/main.css' }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
  </head>
  <body>

  <div class="header registry">
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1><a href="/">IDEALGOV <em>permissions and catalog</em></a></h1>
      </li>
    </ul>

      {% if session['user_id'] %}
        <section class="top-bar-section">
          <ul class="right">
            <li>
              <a href="{{url_for('logout')}}">Sign out</a>
            </li>
          </ul>
        </section>
      {% endif %}
    </nav>
  </div>
  {% block content %}
  {% endblock %}
  </body>
</html>
