<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}" />
    <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='images/icon.png')}}" />

    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{{config.WWW_BASE_URL + '/static/vendor/roboto-slab-fontface/roboto-slab-fontface.css' }}">
    <link rel="stylesheet" href="{{config.WWW_BASE_URL + '/static/vendor/foundation/css/foundation.css' }}">
    <link rel="stylesheet" href="{{config.WWW_BASE_URL + '/static/css/main.css' }}">
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/foundation/js/foundation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/foundation/js/foundation/foundation.joyride.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
  </head>
  <body>

<!--   <div class="header registry">
    <nav class="top-bar" data-topbar>
      <h1><a href="/" class="iglogo">IG</a> <a href="/">{% block header_title %}Permissions Manager{% endblock %}</a></h1>
    </nav>
  </div> -->
  
  {% block content %}
  {% endblock %}
  </body>
</html>
