{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Choose a verify provider{% endblock%}
{% block content %}
  <div class="row verify">
    <div class="small-12 columns">
      <img src="{{url_for('static', filename='images/verify_white.png')}}" height="80px" />
      <h1>Verify your identity</h1>
      <a href="{{url_for('login')}}?next={{next|urlencode}}&provider=vouchme" class="button expand provider">Vouch Me</a> 
      <a href="{{url_for('login')}}?next={{next|urlencode}}&provider=idat" class="button expand provider">IDAT</a>
      <p class="hint">
        You can use a different providers to verify your identity to different services
        and different registers.
      </p>
    </div>
  </div>
{% endblock %}
