{% extends "registerbase.html" %}
{% block title %}Data Protection{% endblock %}
{% block header_title %}Data Protection Registry{% endblock %}
{% block content %}
    <div class="row">
      <div class="small-12 columns">
        <div class="panel thing">
          <h3>Data protection</h3>
          <h4>{{ data.uri.split('/')[-1] }}</h4>
          <dl>
            <dt><h3>Registered organisation / person:</h3></dt>
            <dd><a href="{{ data.organisation_uri }}">{{ data.organisation_uri }}</a></dd>
            <dt><h3>Registration date:</h3></dt>
            <dd>{{ data.registration_date|format_date }}</dd>
          </dl>
          <p class="thing-footer">
          This entry is held in the <a href="#">Data Protection register</a> which is 
          maintained by the <a href="#">Data Protection Registry</a>
          </p>
      </div>
    </div>
  </div>
{% endblock %}