{% extends "base.html" %}
{% block title %}Permissions and catalog{% endblock%} 
{% block content %}
  <div class="row">
    <div class="small-12 columns">
     <ul class="side-nav">
        <li>
          <a href="{{url_for('registry_catalogue')}}">Registers</a>
        </li>
        <li>
          <a href="{{url_for('service_catalogue')}}">Services</a>
        </li>
        <li>
          <a href="{{url_for('your_data')}}">Your data</a>
        </li>
        <li>
          <a href="#">Information for service developers</a>
        </li>

     </ul>
 
    </div>
  </div>
{% endblock %}
