{% extends "base.html" %}
{% block title %}Notice{% endblock%}

{% block header %}
  <div class="header registry">
    <nav class="top-bar" data-topbar>
      <h1><img id="header_crest" src="{{url_for('static', filename='images/crest_white.png')}}"/> <a href="/">{% block header_title %}Notices register{% endblock %}</a></h1>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
      <div class="small-12 columns">
        <div class="panel thing">
            {% for key, val in data.items() %}
                <p>{{key}} : {{val}}</p>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
