{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block header %}
  <div class="header registry">
    <nav class="top-bar" data-topbar>
      <h1><img id="header_crest" src="{{url_for('static', filename='images/crest_white.png')}}"/> <a href="/">{% block header_title %}Registry catalogue {% endblock %}</a></h1>
    </nav>
  </div>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h3>Notices Registry</h3>

      <h3>Organisations Registry</h3>

      <h3>Licensing Registry</h3>

      <h3>Geographies Registry</h3>

      <h3>Environment Registry</h3>

      <h3>Finance Registry</h3>

      <h3>Driving Registry</h3>

    </div>
  </div>
{% endblock %}
