{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h1>Registers</h1>
      <p>
        This is a list of the registers that GOV.UK manages access to 
        and the data held in each register. The list is automatically 
        generated and <a href="#">independently audited</a> using <a href="">publically avaliable
          tests</a>.
      </p>
       {% if registries %}
        {% for registry in registries %}
          <ul class="info-list">
            <li>
              <h2>{{registry.name}}</h2>
              <p>
                {% if registry.description %}
                  {{registry.description}}
                {% else %}
                  No description
                {% endif %}
              </p>
              <h4>Properties:</h4>
              <ul>
                {% if registry.properties %}
                  {% for property in registry.properties %}
                    <li>{{property}}</li>
                  {% endfor %}
                {% else %}
                  <li>No properties</li>
                {% endif %}
              </ul>
            </li>
          </ul>
        {% endfor %}
      {% else %}
        <p>There are no registries.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
