{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block header %}
  <div class="header registry">
    <nav class="top-bar" data-topbar>
      <h1><img id="header_crest" src="{{url_for('static', filename='images/crest_white.png')}}"/> <a href="/">{% block header_title %}Registry catalogue {% endblock %}</a></h1>
    </nav>
  </div>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
       {% if registries %}
        {% for registry in registries %}
          <ul class="info-list">
            <li>
              <h2>{{registry.name}}</h2>
              <p>
                {% if registry.description %}
                  {{registry.description}}
                {% else %}
                  No description
                {% endif %}
              </p>
              <h4>Properties:</h4>
              <ul>
                {% if registry.properties %}
                  {% for property in registry.properties %}
                    <li>{{property}}</li>
                  {% endfor %}
                {% else %}
                  <li>No properties</li>
                {% endif %}
              </ul>
            </li>
          </ul>
        {% endfor %}
      {% else %}
        <p>There are no registries.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
