{% extends "base.html" %}
{% block title %}Services{% endblock%}
{% block header %}
  <div class="header registry">
    <nav class="top-bar" data-topbar>
      <h1><img id="header_crest" src="{{url_for('static', filename='images/crest_white.png')}}"/> <a href="/">{% block header_title %}Services catalogue {% endblock %}</a></h1>
    </nav>
  </div>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">

      <dl class="tabs full-2" data-tab>
        <dd  id="services_tab" class="active">
          <a href="#services">Services</a>
        </dd>
        <dd id="history_tab">
          <a href="#history">History</a>
        </dd>
      </dl>

      <div class="tabs-content">
        <div id="services" class="content active"> 
          {% if clients %}
            {% for client in clients %}
              <div class="panel">
                <span class="label right">{{client.organisation_type}}</span>
                <h3>{{client.name}}</h3>
                <p>{{client.description}}</p>
                <h4>Can request to:</h4>
                <ul>
                  {% if client.default_scopes %}
                    {% for scope in client.default_scopes %}
                      <li>{{scope|format_scope}}</li>
                    {% endfor %}
                  {% else %}
                    <li>No permissions</li>
                  {% endif %}
                </ul>
              </div>
          {% endfor %}
        {% else %}
          <p>There are no registered services.</p>
        {% endif %}

        </div> 
        <div id="history" class="content">
          {% if log %}
            <table>
              <tr>
                <th>Description</th>
                <th>Date</th>
              </tr>
              {% for item in log %}
                <tr>
                  <td><strong>{{item.client.name}}</strong> {{item.action}}</td>   
                  <td>{{item.occured_at}}</td>   
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>There is no history to show</p>
          {% endif %}          
        </div> 
      </div>    
    </div>
  </div>

{% endblock %}
