{% extends "base.html" %}
{% block title %}Your data{% endblock %}
{% block header_title %}Your data{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
    <h3>Services with access to your data</h3>
      {% if tokens %}
        <form id="form_id" action="" method="post">
          <table>
            <thead>
              <tr>
                <th>Service name</th>
                <th>Provided by</th>
                <th>Permissions</th>
                <!-- <th>&nbsp;</th> -->
              </tr>
            </thead>
            {% for token in tokens %}
              <tr>
                <td>
                  {{token.client.name}}
                </td>
                <td>
                  <span>{{token.client.organisation_type}}</span>
                </td>
                <td>
                  <ul>
                    {% for scope in token.scopes %}
                      <li>{{scope|format_scope}}</li>
                    {% endfor %}
                  </ul>
                </td>
<!--                 <td><button type="submit" value="{{token.id}}" name="revoke" class="button tiny alert">Revoke</button></td>
              </tr> -->
            {% endfor %}
          </table>
        </form>
      {% else %}
        <p>There are no authorized apps.</p>
      {% endif %}

      <h3>Access history</h3>
      {% if log %}
        <table>
          <tr>
            <th>Description</th>
            <th>Date</th>
          </tr>
          {% for item in log %}
            <tr>
             <td><strong>{{item.client.name}}</strong> {{item.action}}</td>   
             <td>{{item.occured_at}}</td>   
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>There is no history to show</p>
      {% endif %}

      <h3>Export your data</h3>
      <p>
        You can request a download of all your data held by registries.
        The process will require some additional security steps.
      </p>
      <p>
        <a href="#" class="button expand">Get started</a>
      </p>


    </div>
  </div>
{% endblock %}
