{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h1>Your data</h1>
      <p>
        This page lists the services that have permission to access your data and 
        the access history for your data.
      </p>
      <h2>Services with access</h2>
      {% if tokens %}
        <form id="form_id" action="" method="post">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Persmissions</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            {% for token in tokens %}
              <tr>
                <td>{{token.client.name}}</td>
                <td>
                  <ul>
                    {% for scope in token.scopes %}
                      <li>{{scope}}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td><button type="submit" value="{{token.id}}" name="revoke" class="button tiny alert">Revoke</button></td>
              </tr>
            {% endfor %}
          </table>
        </form>
      {% else %}
        <p>There are no authorized apps.</p>
      {% endif %}

      <h2>Access history</h2>
      {% if log %}
        <table>
          <tr>
            <th>Description</th>
            <th>Date</th>
          </tr>
          {% for item in log %}
            <tr>
             <td><strong>{{item.client.name}}</strong> {{item.action}}</td>   
             <td>{{item.occured_at}}</td>   
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>There is no history to show</p>
      {% endif %}

      <h2>Export your data</h2>


    </div>
  </div>
{% endblock %}
