{% extends "base.html" %}
{% block title %}Your data{% endblock %}

{% block header %}
  <div class="header registry">
    <nav class="top-bar" data-topbar>
      <h1><img id="header_crest" src="{{url_for('static', filename='images/crest_white.png')}}"/> <a href="{{url_for('your_data')}}">{% block header_title %}Permissions Manager{% endblock %}</a></h1>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <p>
        <a href="{{url_for('logout')}}" class="right signout">Sign out</a>
      </p>
      <h2>{{tokenized_name}}</h2>
      <p>
        You can see the services that have access to your data. 
        You can also view a history of what services 
        have accessed your data over a period of time.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="big-nav">
        <li>
          <a href="{{url_for('your_access')}}">
            View services with access to your data
            <small>{{tokens|length}} services currently have access</small>
          </a>
        </li>
        <li>
          <a href="{{url_for('your_log')}}">
            View access history
            <small>Your data has been accessed {{log|length}} {% if log|length == 1 %}time{% else %}times{% endif %} in the last month</small>
          </a>
        </li>
      </ul>
      <p>
        You can request a download of all your data held by registries.
        The process will require some additional security steps.
        <a href="#">Learn more</a>.
      </p>
    </div>
  </div>
{% endblock %}