{% extends "base.html" %}
{% block title %}Your data{% endblock %}

{% block header %}
  <div class="header permissions">
    <nav class="top-bar" data-topbar>
      <h1><img id="header_crest" src="{{url_for('static', filename='images/crest_white.png')}}"/> <a href="{{url_for('your_data')}}">{% block header_title %}Permissions Manager{% endblock %}</a></h1>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>Services with access to your data</h2>
      {% if tokens %}
        <form id="form_id" action="" method="post">
            {% for token in tokens %}
              <div class="panel">
                <h3>
                  {{token.client.name}}
                  <button type="submit" value="{{token.id}}" name="revoke" class="button tiny alert right">Revoke</button>
                </h3>
                <p>
                  This service is run by {{token.client.organisation_type}}
                </p>
                <h4>Permissions:</h4>
                <ul>
                  {% for scope in token.scopes %}
                    <li>{{scope|format_scope}}</li>
                  {% endfor %}
                </ul>
                </div>
            {% endfor %}
        </form>
      {% else %}
        <p>There are no authorized apps.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
