{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h1>History</h1>
      {% if log %}
        <table>
          <tr>
            <th>Description</th>
            <th>Date</th>
          </tr>
          {% for item in log %}
            <tr>
             <td><strong>{{item.client.name}}</strong> {{item.action}}</td>   
             <td>{{item.occured_at}}</td>   
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>There is no history to show</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
