{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <a href="{{url_for('logout')}}" class="button expand">Sign out</a>
      <a href="{{url_for('authorized')}}" class="button expand">You</a>
      <a href="{{url_for('service_catalogue')}}" class="button expand">Catalogue of services</a>
      <a href="{{url_for('registry_catalogue')}}" class="button expand">Catalogue of registries</a>
      <a href="{{url_for('export')}}" class="button expand">Export your data</a>
      <a href="{{url_for('history')}}" class="button expand">History</a>
    </div>
  </div>
{% endblock %}