/* Typography */
body, h1, h2,h3, h4, h5 .button, table, label {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'nta', Arial, Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

h2 {
  margin:0.75rem 0 1rem 0;
}


a {
  color:#005EA5;
}

p, dl, ul, label {
  font-size:1.2rem;
}

table {
  width:100%;
}

.signout {
  top: 1.3rem;
  position: relative;
}

.button {
  background:#2372B5;
  border-bottom:5px solid #094577!important;
  font-family: 'nta', Arial, Helvetica!important;
  font-weight:bold;
  font-size: 1.35rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.button.alert {
  border-bottom:5px solid #CF2A0E!important;
}

.button-group.even-2 :first-child {
  padding-right:3px;
}

.button-group.even-2 :last-child {
  padding-left:3px;
}

.button:hover, .button:focus {
  background-color:#2372B5;
}

.header {
  margin-bottom: 10px;
}

.top-bar #header_crest {
  height: 45px; 
  margin-top: -3px;
  margin-right: 7px;
  margin-left:4px;
}

.top-bar.home h1 {
  text-align:left;
}

.top-bar h1 {
  font-size: 1.35rem;
  text-align:center;
  margin-top:3px;
}

.top-bar a {
  text-decoration:none;
  color:#fff;
}

.top-bar h1.title {
  padding-top: 7px;
  font-size: 1.35rem;
}


.header, .header .top-bar {
  background:#2372b5;
  font-family:Helvetica, Arial, sans-serif;
}

.header .top-bar h1 {
  font-family:Helvetica, Arial, sans-serif;
  font-weight:normal;
}

/* things in registers*/
.thing {
  background:#eceded;
  border:none;
  border-radius: 0;
  margin-top:1rem;
}

.thing, .thing h3, .thing h4 {
  font-family:monospace;
  font-weight:bold;
  font-weight:normal!important;
}

.thing h4 {
  border-bottom:solid 2px #333;
  padding-bottom:1rem;
}

.thing h3 {
  font-weight:bold;
  padding-right:1rem;
}

.thing .thing-footer {
  border-top:solid 2px #333;
  padding-top:3rem;
  padding-left:200px;
  background:url(../images/crest_grey.png) no-repeat 0 10px;
  min-height:160px;
}

/* Verify */

.verify {
  text-align: center;
}

.verify h1 {
  font-size: 1.6rem;
  padding:0;
  margin:1rem 0 2rem 0;
  color:#fff;
  text-align:center;
  clear:both;
}

.verify_logo_small {
  float:right;
  height: 100px;
  right: -27px;
  position: relative;
  top: -5px;
}

.verify .button {
  background-color: #fff;
  color:#2373b6;
  border-bottom-color: #164e7c;
}

.verify .button.provider {
  text-align:left;
  padding-left:1rem;
}

.verify p a {
  color:#fff;
  text-decoration:underline;
}

/*.verify .button.provider:after {
  content: "❭";
  float:right;
  font-weight: bold;
  padding-right:10px;
}
*/
.verify .hint {
  border:none;
  text-align:center;
  line-height: 1.6rem;
}

.verify .columns {
  background:#2373b6;
  color:#fff;
  border:solid 15px #fff;
  min-height:600px;
}

.verify .button-group li {
 padding:3px;
}

.verify img{
  height: 160px;
}

.authorize .columns {
  background: #fff;
  color: #222;
  border:solid 15px #2373b6;
  min-height:600px;
}
.authorize h1 {
  margin-top: 30px;
}
.authorize p {
  line-height: 1.6rem;
}

.big-nav {
  list-style-type: none;
  margin-left:0;
}

.big-nav li {
  border:solid 1px #a4a5a6;
  padding:1rem 0.7rem;
  margin-bottom:0.7rem;
  padding-right:30px;
  font-weight:bold;
  font-size:1.2rem;
  background:url(../images/arrow.png) center right 1rem no-repeat;
}

.big-nav li a {
  display:block;
}

.big-nav li small { 
    font-weight:normal;
    color:#57575a;
    font-size:0.9rem;
    display:block;
}

.permission-hint {
  font-size:0.95rem;
}